.bar {
    grid-area: s;
    background-color: #6d598d;
    min-height: 100vh;
}

.bar ul {
    list-style-type: none;
    font-size: 24px;
}

.bar a {
    color: white;
    outline: none;
    text-decoration: none;
}

.bar .activeLink{
    color: #f6f255;
}

.toggleTheme{
    padding: 10px 15px;
    font-size: 18px;
    color: #cccccc;
}

.toggleButton {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s;

}
.toggleButton::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 1px;
    top: 1px;

    width: 21px;
    height: 21px;
    background-color: #2d213d;
    border-radius: 50%;

    transform: translateX(0);
    transition: 0.3s;
}
.toggleButton:checked::after {
    transform: translateX(calc(100% + 1px));
    background-color: #fff;
}
.toggleButton:checked {
    background-color: #2d213d;
}