html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px;
  grid-template-areas: 
  's m';

  font-family: "Bitstream Vera Serif Bold", sans-serif;
}

.dark{
  background-color: #352b40;
  color: beige
}

a .active{
  color: royalblue;
}
