@import './vars.less';

html, body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Bitstream Vera Serif Bold";
}
.wrapper {
  font-family: "Bitstream Vera Serif Bold", sans-serif;
  display: grid;

  @media screen and (min-width: 480px){
    grid-template-columns: 1fr 8fr;
    grid-gap: 0px;
  }
}
.dark{
  background-color: @darkMode;
  color: beige
}
